In [3]:
import solution.factory
solutions = solution.factory.all_solutions_scenarios()

In [4]:
trucks = solutions["trucks"][0]()
#trucks.ht.pds_adoption_data_per_region['World'].tail()
trucks.ht.pds_adoption_data_per_region

Year
2056    2.871195e+07
2057    2.946272e+07
2058    3.023243e+07
2059    3.102143e+07
2060    3.183007e+07
Name: World, dtype: float64

In [5]:
trains = solutions["trains"][0]()
trains.ht.pds_adoption_data_per_region['World'].tail()

/home/ubuntu/.local/share/virtualenvs/solutions-Qnh-Z8am/lib/python3.8/site-packages/pandas/core/series.py:726: RuntimeWarning: invalid value encountered in minimum
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/ubuntu/.local/share/virtualenvs/solutions-Qnh-Z8am/lib/python3.8/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: invalid value encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

2056    9.042183e+06
2057    9.170880e+06
2058    9.299577e+06
2059    9.428274e+06
2060    9.556971e+06
Name: World, dtype: float64

In [6]:
ships = solutions["ships"][0]()
ships.ht.pds_adoption_data_per_region['World'].tail()

Year
2056    185269.115282
2057    192696.290121
2058    200451.292243
2059    208542.944854
2060    216980.071157
Name: World, dtype: float64

In [7]:
baseline_values = [[111304101],   
[114809282],   
[119293206],   
[121312310],   
[125320334],   
[130995519],   
[135887669],   
[139263493],   
[143439617],   
[149227058],   
[154566203],   
[160166726],   
[166046016],   
[172231911],   
[178710364],   
[185530068],   
[192697916],   
[200231267],   
[206140575],   
[216463901],   
[225197889],   
[234366816],   
[243988062],   
[254040124],   
[264657000],   
[275739405],   
[287343597],   
[299486959],   
[313232199],   
[325460675],   
[339325731],   
[353799349],   
[368898825],   
[384653303],   
[401044573],   
[418125492],   
[435901525],   
[454389978],   
[473476431],   
[493573367],   
[514302927],   
[535814049],   
[558123920],   
[581249753],   
[605208827],   
[630018479],   
[655696059],   
[682258946],   
[709724529]]

In [8]:
import pandas as pd
baseline_df = pd.DataFrame(baseline_values, columns=['Average of Baseline TAMs'], index=range(2012, 2061))
baseline_df.head()

      Average of Baseline TAMs
2012                 111304101
2013                 114809282
2014                 119293206
2015                 121312310
2016                 125320334

In [9]:
pd.__version__

'1.1.4'

In [10]:
ship_vals = ships.ht.pds_adoption_data_per_region['World']
truck_vals = trucks.ht.pds_adoption_data_per_region['World']
train_vals = trains.ht.pds_adoption_data_per_region['World']
df = pd.concat([baseline_df, ship_vals, truck_vals, train_vals], axis=1)
df.columns = ['Average of Baseline TAMs', 'Trucks', 'Ships', 'Trains']
df.tail()

      Average of Baseline TAMs         Trucks         Ships        Trains
2056                 605208827  185269.115282  2.871195e+07  9.042183e+06
2057                 630018479  192696.290121  2.946272e+07  9.170880e+06
2058                 655696059  200451.292243  3.023243e+07  9.299577e+06
2059                 682258946  208542.944854  3.102143e+07  9.428274e+06
2060                 709724529  216980.071157  3.183007e+07  9.556971e+06

In [11]:
df['Remaining mtonne-kms'] = df['Average of Baseline TAMs'] - df['Trucks'] - df['Ships'] - df['Trains']
df['Remaining %'] = df['Remaining mtonne-kms']/df['Average of Baseline TAMs']
df.tail()

      Average of Baseline TAMs         Trucks         Ships        Trains  Remaining mtonne-kms  Remaining %
2056                 605208827  185269.115282  2.871195e+07  9.042183e+06          5.672694e+08     0.937312
2057                 630018479  192696.290121  2.946272e+07  9.170880e+06          5.911922e+08     0.938373
2058                 655696059  200451.292243  3.023243e+07  9.299577e+06          6.159636e+08     0.939404
2059                 682258946  208542.944854  3.102143e+07  9.428274e+06          6.416007e+08     0.940406
2060                 709724529  216980.071157  3.183007e+07  9.556971e+06          6.681205e+08     0.941380